# EditorConfig configuration file
# More information is available at http://editorconfig.org
#
# To use this file ensure your editor supports EditorCOnfig natively or via a
# plugin.

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
